.resizeButton {
  position: absolute;
  padding: 0;
  border-radius: 50%;
  cursor: nwse-resize;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  user-select: none;
}

.resizeButton::before {
  content: '';

  position: absolute;
  inset: 50% auto auto 50%;

  width: 80px;
  aspect-ratio: 1;

  border-radius: 50%;
  pointer-events: none;

  transform: translate(-70%, -70%);

  background: #fff;
  opacity: 0;
  animation: ripple 3s ease-in infinite;
}

@keyframes ripple {
  0% {
    transform: translate(-70%, -70%) scale(.1);
    opacity: 1;
  }

  10% {
    transform: translate(-70%, -70%) scale(1.5);
    opacity: 0;
  }

  11% {
    transform: translate(-70%, -70%);
    opacity: 0;
  }
}

.resizeButton:hover::before {
  animation: none;
  background: none;
}

@keyframes wave {
  0%, 20%, 60%, 100% {
    opacity: 0;
  }

  25% {
    opacity: 1;
    background:
      radial-gradient(circle,
        rgba(255,255,255,1) 0 2px,
        transparent 2px 100%);
  }

  35% {
    opacity: 1;
    background:
      radial-gradient(circle,
        transparent 0 28px,
        rgba(255,255,255, 1) 28px 30px,
        transparent 30px 100%);
  }
}