:root[data-theme="light"] {
  --sl-color-bg: hsl(205.09deg 22.8% 94%);
}

.hidden-on-wide-screens {
  display: none;
}

@media (max-width: 50rem) {
  .hidden-on-wide-screens {
    display: initial;
  }
}